body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(240, 205, 254);
}
h1, h2, h3{
  text-transform:capitalize ;
}

.nav-bar{
  background-color: rgb(216, 136, 247);
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
}
.nav-bar h2{
  margin-left: 10px;
  font-style: italic;
  font-size: large;
}
.logo{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-left: 20px;
}
.nav-bar img{
  width: 15%;
}
.pages{
  margin-right: 20px;
}
.pages a{
  text-decoration: none;
  margin-left: 10px;
  color: white;
}
#side-bar{
  float: left;
  width: 30%;
  margin-bottom: 20px;
  color:rgb(53, 133, 133) ;
  margin-top: 20px;
}
#side-bar a{
  text-decoration: none;
  color: rgb(53, 133, 133);
  font-weight: bold;
}
#side-bar a:hover{
  color: blue;
}
#side-bar header{
  font-style: italic;
  color: black;
  font-size: 20px;
}
#searchbox{
  padding: 5px;
}
#main {
  float: right;
  width: 70%;
  margin-bottom: 20px;
}
#main figure img{
  width: 100%;
}
p{
  width: 98%;
  font-size: 18px;
  font-style: normal;
}
.promo-1{
  background-color:rgb(230, 182, 249) ;
  width: 45%;
  border: 10px solid rgb(230, 182, 249);
}
.promo-1 img{
  width: 100%;
}
footer{
  clear: both;
  width: 100%;
  background-color:#5c2f5b6f  ;
  color: white;
}
tr:nth-of-type(odd) {
  background-color:#b4ddd3  ;
}
iframe{
  width: 100%;
}